# --------------------------------------------------------
# Python
# --------------------------------------------------------
__pycache__/
*.py[cod]
*$py.class
*.pyo

# Entornos virtuales
venv/
.tf_env/
env/
.venv/

# Archivos de entorno
.env
.env.*

# --------------------------------------------------------
# Logs y archivos temporales
# --------------------------------------------------------
*.log
*.tmp
*.out
*.pid

# --------------------------------------------------------
# Cache
# --------------------------------------------------------
*.cache
.cache/
.ipynb_checkpoints/
*.mypy_cache/
*.pytest_cache/
*.pyre/
*.ruff_cache/

# --------------------------------------------------------
# Modelos pesados
# --------------------------------------------------------
*.h5
*.hdf5
*.model
*.ckpt
*.pt
*.pth
*.onnx
models/
checkpoints/

# --------------------------------------------------------
# Imágenes generadas / resultados
# --------------------------------------------------------
/outputs/
/results/

# --------------------------------------------------------
# IDE / Editor settings
# --------------------------------------------------------
.vscode/
.idea/

# --------------------------------------------------------
# Sistema operativo
# --------------------------------------------------------
.DS_Store
Thumbs.db

# --------------------------------------------------------
# FastAPI / Uvicorn
# --------------------------------------------------------
*.sqlite
*.db
